/.DS_Store
/bootstrap
/businessRegistration.html
/darkmode.css
/darkmode.html
/home.html
/home2.html
/Images
/login.html
/loginstyle.css
/Oat Meal-recipe.html
/package-lock.json
/README.md
/recipe-sushi.html
/recipe.css
/Recipe.js
/RecipesPage.html
/rest.css
/rest.html
/restaurant.js
/style.css
/style.js